{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : Dimension Advanced Deploy == #}
{# == Node Type Description    : This node loads data into dimension table using config options distinct,groupby all,order by ,multi-source  == #}

{%- if config.updateStrategy == 'INSERT/UPDATE' -%}
    {%- set varUpdateStrategy = 'INSERT/UPDATE' -%}
{%- else -%}
    {%- set varUpdateStrategy = 'MERGE' -%}
{%- endif -%}

{# == Check if last modified comparison toggle is enabled  #}

{% set has_business_key = columns | selectattr("isBusinessKey") | list | length > 0 %}
{% set use_last_modified = config.lastModifiedComparison and varUpdateStrategy == 'MERGE' | default(false) %}

{# == Variable check to identify type of dimension == #}

{% set is_type_2 = config.type2Dimension | default(false) if use_last_modified else (columns | selectattr("isChangeTracking") | list | length > 0) %}
{%if config.lastModifiedComparison%}
 {% set last_modified_col = config.lastModifiedColumn.name | default('') %}
{%endif%}

{# == Fetch source info #}

{# == To run data quality tests before data insertion == #}

    {% for test in node.tests if config.testsEnabled %}
        {% if test.runOrder == 'Before' %}
            {{ test_stage(test.name, test.continueOnFailure) }}
            {{ test.templateString }}
        {% endif %}
    {% endfor %}
	
	
{% if use_last_modified and 'TIMESTAMP' in (config.lastModifiedColumn.dataType | upper) %}

    {{ test_stage(
        'Checking NULL values for ' ~ last_modified_col ~ ' column',
        false
    ) }}

    {% set ns = namespace(first=true) %}

    {% for source in sources %}

        {% for col in source.columns if col.name == last_modified_col %}

            {% set col_transform = get_source_transform(col) %}

            {% if col_transform is not none and col_transform != 'NULL' %}

                {% if not ns.first %}
                    UNION ALL
                {% endif %}

                SELECT 1

                {{ get_clause(source.join,'from') }}

                WHERE {{ col_transform }} IS NULL

                {{ get_clause(source.join) }}

                {% set ns.first = false %}
                /* If NULL values are detected, this stage will fail and execution will be terminated */

            {% endif %}

        {% endfor %}

    {% endfor %}

{% endif %}
					
{% if node.materializationType == 'table' or node.materializationType == 'transient table' %}

{# == Queries to be excuted before data insertion  == #}

	{% if config.preSQL %}			
		{{ stage('Pre-SQL') }}
		{{ config.preSQL }}
	{% endif %}

 {# == Truncate data before data insertion  == #}

    {% if config.truncateBefore %}
        {{ stage('Truncate Dimension Table') }}
        TRUNCATE IF EXISTS {{ ref_no_link(node.location.name, node.name) }}
    {% endif %}
	
			{% if config.insertZeroKey %}
				{% if config.insertZeroKeyAdvanced == true %}
				{%- set ns = namespace(varColumnNameDefault = [],varColumnValueDefault=[]) %}
				{%set ns.varColumnNameDefault = config.customZeroKeyValues.get('items') | map(attribute='columnNameDefault.name') | list%}
				{%set ns.varColumnValueDefault = config.customZeroKeyValues.get('items') | map(attribute='columnValueDefault') | list%}
				{% endif %}
			{{ stage('Insert Zero Record') }}
			{%- if varUpdateStrategy == 'MERGE' -%}
			     MERGE INTO {{ ref_no_link(node.location.name, node.name) }} USING
			     (SELECT 
			     {% for col in sources[0].columns %}
			     	{% set dtparams = col.dataType.partition('(')[-1].rpartition(')')[0].split(',') %}
			     	{% if col.isSurrogateKey %} {{config.insertZeroKeySurrogateKey}}
			     	{% elif config.insertZeroKeyAdvanced == true and col.name in ns.varColumnNameDefault %}
			     		{%- for loopColumn in ns.varColumnNameDefault  -%}
			     			{% if col.name ==  loopColumn %}
                            {%if col.dataType[:3] | upper in ('VAR','CHA','STR','BIN')%}
                            '{{ ns.varColumnValueDefault[loop.index0]}}'
                            {%else%} 
                            {{ ns.varColumnValueDefault[loop.index0]}}
                            {%endif%}                           
			     			{% endif %}						
			     		{% endfor -%}
			     	{% elif col.isSystemCurrentFlag %}'Y'
			     	{% elif col.isSystemStartDate or col.isSystemEndDate or col.isSystemUpdateDate or col.isSystemCreateDate %}{{ get_source_transform(col) }}
			     	{% elif col.isSystemVersion%}1
			     	{% elif col.dataType | upper in ('BOOLEAN') %} {{ config.insertZeroKeyBol }}
			     	{% elif col.dataType[:3] | upper in ('NUM','INT','DEC','FLO') %}0
			     	{% elif col.dataType [:12]| upper in ('TIMESTAMP_LT','TIMESTAMP_NT','TIMESTAMP_TZ') %} '{{config.insertZeroKeyTimestamp}}' ::{{ col.dataType |upper}}
			     	{% elif col.dataType[:4] | upper in ('DATE','TIME') %}CAST(TO_TIMESTAMP( '{{config.insertZeroKeyDate}}', 'DD-MM-YYYY') AS {{ col.dataType }})
			     	{% elif col.dataType[:3] | upper in ('VAR','CHA','STR','BIN') %}
			     			{% if dtparams[0] and dtparams[0] | int <  config.insertZeroKeyStr | length  %}
			     			SUBSTRING('{{config.insertZeroKeyStr}}',1,{{ dtparams[0] }})
			     			{% else %}
			     				'{{config.insertZeroKeyStr}}'
			     			{% endif %}
			     	{% elif col.nullable %}NULL
			     	{% else %}''
			     	{% endif %}
			     	AS "{{ col.name }}"
			     	{% if not loop.last %}, {% endif %}
			     {% endfor %}
			     FROM   DUAL
			     )AS SOURCE_ZERO
			     ON
			     {%- for col in columns if col.isSurrogateKey %}
			     	"{{ node.name}}"."{{ col.name}}" = {{config.insertZeroKeySurrogateKey}}
                 {% endfor -%}			
			     WHEN MATCHED THEN UPDATE
			     SET
                 {%- for col in columns if (not col.isSurrogateKey and not col.isBusinessKey) %}
			     	"{{ node.name}}"."{{ col.name}}" = SOURCE_ZERO."{{ col.name}}"
			     	{% if not loop.last %}, {% endif %}			
			     {% endfor -%}
                 WHEN NOT MATCHED THEN INSERT
			     (
                 {%- for col in columns %}
			     	"{{ col.name}}"
			     	{% if not loop.last %}, {% endif %}			
			     {% endfor -%}
			     )
			     VALUES
			     (
                 {%- for col in columns %}
			      SOURCE_ZERO."{{ col.name}}"			
			     	{% if not loop.last %}, {% endif %}			
			     {% endfor -%}
			     )
			{%- else %}  
            BEGIN
			{#BEGIN TRANSACTION#}
              -- Update Zero Key Record if it exists
              UPDATE {{ ref_no_link(node.location.name, node.name) }}
              SET
                  {%- for col in columns if not col.isSurrogateKey and not col.isBusinessKey %}
                      "{{ col.name }}" = SOURCE_ZERO."{{ col.name }}"
                      {%- if not loop.last %}, {% endif %}
                  {%- endfor %}
              FROM (
                  SELECT 
                      {% for col in sources[0].columns %}
                          {% set dtparams = col.dataType.partition('(')[-1].rpartition(')')[0].split(',') %}
                          {% if col.isSurrogateKey %} {{config.insertZeroKeySurrogateKey}}
                          {% elif config.insertZeroKeyAdvanced == true and col.name in ns.varColumnNameDefault %}
                              {%- for loopColumn in ns.varColumnNameDefault  -%}
                                  {% if col.name == loopColumn %}
                                  {{ ns.varColumnValueDefault[loop.index0] }} 
                                  {% endif %}						
                              {% endfor -%}
                          {% elif col.isSystemCurrentFlag %}'Y'
                          {% elif col.isSystemStartDate or col.isSystemEndDate or col.isSystemUpdateDate or col.isSystemCreateDate %}{{ get_source_transform(col) }}
                          {% elif col.isSystemVersion%}1
                          {% elif col.dataType | upper in ('BOOLEAN') %} {{ config.insertZeroKeyBol }}
                          {% elif col.dataType[:3] | upper in ('NUM','INT','DEC','FLO') %}0
                          {% elif col.dataType [:12] | upper in ('TIMESTAMP_LT','TIMESTAMP_NT','TIMESTAMP_TZ') %} '{{config.insertZeroKeyTimestamp}}' ::{{ col.dataType |upper}}
                          {% elif col.dataType[:4] | upper in ('DATE','TIME') %}CAST(TO_TIMESTAMP('{{config.insertZeroKeyDate}}', 'DD-MM-YYYY') AS {{ col.dataType }})
                          {% elif col.dataType[:3] | upper in ('VAR','CHA','STR','BIN') %}
                              {% if dtparams[0] and dtparams[0] | int < config.insertZeroKeyStr | length  %}
                              SUBSTRING('{{config.insertZeroKeyStr}}',1,{{ dtparams[0] }})
                              {% else %}
                              '{{config.insertZeroKeyStr}}'
                              {% endif %}
                          {% elif col.nullable %}NULL
                          {% else %}'' 
                          {% endif %}
                          AS "{{ col.name }}"
                          {% if not loop.last %}, {% endif %}
                      {% endfor %}
                  FROM DUAL
              ) AS SOURCE_ZERO
			     {%- for col in columns if col.isSurrogateKey %}
				 {% if loop.first %} WHERE {% else %} AND {% endif %}
			     	"{{ node.name}}"."{{ col.name}}" ={{config.insertZeroKeySurrogateKey}}
			     {% endfor %}
				;
              -- Insert Zero Key Record if it does not exist
              INSERT INTO {{ ref_no_link(node.location.name, node.name) }} (
                  {%- for col in columns %}
                      "{{ col.name }}"
                      {%- if not loop.last %}, {% endif %}
                  {%- endfor %}
              )
              SELECT
                  {% for col in sources[0].columns %}
                      {% set dtparams = col.dataType.partition('(')[-1].rpartition(')')[0].split(',') %}
                      {% if col.isSurrogateKey %} {{config.insertZeroKeySurrogateKey}}
                      {% elif config.insertZeroKeyAdvanced == true and col.name in ns.varColumnNameDefault %}
                          {%- for loopColumn in ns.varColumnNameDefault  -%}
                              {% if col.name == loopColumn %}
                         {%if col.dataType[:3] | upper in ('VAR','CHA','STR','BIN')%}
						 '{{ ns.varColumnValueDefault[loop.index0]}}'
                         {%else%} 
                         {{ ns.varColumnValueDefault[loop.index0]}}
                        {%endif%}                               
                              {% endif %}						
                          {% endfor -%}
                      {% elif col.isSystemCurrentFlag %}'Y'
                      {% elif col.isSystemStartDate or col.isSystemEndDate or col.isSystemUpdateDate or col.isSystemCreateDate %}{{ get_source_transform(col) }}
                      {% elif col.isSystemVersion%}1
                      {% elif col.dataType | upper in ('BOOLEAN') %} {{ config.insertZeroKeyBol }}
                      {% elif col.dataType[:3] | upper in ('NUM','INT','DEC','FLO') %}0
                      {% elif col.dataType [:12] | upper in ('TIMESTAMP_LT','TIMESTAMP_NT','TIMESTAMP_TZ') %} '{{config.insertZeroKeyTimestamp}}' ::{{ col.dataType |upper}}
                      {% elif col.dataType[:4] | upper in ('DATE','TIME') %}CAST(TO_TIMESTAMP('{{config.insertZeroKeyDate}}', 'DD-MM-YYYY') AS {{ col.dataType }})
                      {% elif col.dataType[:3] | upper in ('VAR','CHA','STR','BIN') %}
                          {% if dtparams[0] and dtparams[0] | int < config.insertZeroKeyStr | length  %}
                          SUBSTRING('{{config.insertZeroKeyStr}}',1,{{ dtparams[0] }})
                          {% else %}
                          '{{config.insertZeroKeyStr}}'
                          {% endif %}
                      {% elif col.nullable %}NULL
                      {% else %}'' 
                      {% endif %}
                      AS "{{ col.name }}"
                      {% if not loop.last %}, {% endif %}
                  {% endfor %}
              FROM DUAL
              WHERE NOT EXISTS (
                  SELECT 1 FROM {{ ref_no_link(node.location.name, node.name) }} 			     
				 {%- for col in columns if col.isSurrogateKey %}
				 {% if loop.first %} WHERE {% else %} AND {% endif %}
			     	"{{ node.name}}"."{{ col.name}}" = {{config.insertZeroKeySurrogateKey}}
			     {% endfor %}
              )
            ;
			COMMIT;
            END
			{% endif %}
		  {% endif -%}	
    {% if is_type_2 %}
         
         {# SCD-Type 2 Dimension == #}
       {%- if varUpdateStrategy == 'MERGE' -%} 
            {{ stage('MERGE ' + ' Sources' | string) }}
            
            MERGE INTO {{ ref_no_link(node.location.name, node.name) }} "TGT"
            USING (
      
        {% for source in sources %}

           {% set joinclause = source.join %}
           
            /* New Rows That Don't Exist */
            (SELECT
            {% if config.selectDistinct %}
            DISTINCT
            {% endif %}
            {% for col in source.columns if not col.isSurrogateKey %}
                {% if col.isSystemVersion %}
                    1
                {% elif col.isSystemCurrentFlag %}
                    'Y'
                {% else %}
                   {{ get_source_transform(col) }}
                {% endif %}
                AS "{{ col.name }}",
            {% endfor %}
                'INSERT_INITAL_VERSION_ROWS' AS "DML_OPERATION"
            {{  get_clause(joinclause,'from')  }}
            LEFT JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
            {% for col in source.columns if col.isBusinessKey -%}
                {% if not loop.first %}
                    AND
                {% endif %}
                    {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
            {% endfor %}
            WHERE
            {% for col in source.columns if col.isBusinessKey -%}
                {% if not loop.first %}
                    AND
                {% endif %}
                "DIM"."{{ col.name }}" IS NULL
            {% endfor %}
            {{ get_clause(joinclause) }}
            {% if config.groupByAll %}
            GROUP BY ALL
            {% endif %}
            {{ sortorder_by_colv() }}
            )
            UNION ALL
            {%if config.lastModifiedComparison %}
                  /* Insert new records with incremented version/latest timestamp based on last modified column */
            {%else%}
                 /* New Row Needing To Be Inserted Due To Type-2 Column Changes */
            {%endif%}
            (SELECT
            {% if config.selectDistinct %}
            DISTINCT
            {% endif %}
            {% for col in source.columns if not col.isSurrogateKey %}
                {% if col.isSystemVersion %}
                    "DIM"."{{ col.name }}" + 1
                {% elif col.isSystemCurrentFlag %}
                    'Y'
                {% else %}
                   {{ get_source_transform(col) }}
                {% endif %}
                AS "{{ col.name }}",
            {% endfor %}
                'INSERT_NEW_VERSION_ROWS' AS "DML_OPERATION"
            {{  get_clause(joinclause,'from')  }}
            INNER JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
            {% for col in source.columns if col.isBusinessKey -%}
                {% if not loop.first %}
                    AND
                {% endif %}
                {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
            {% endfor %}
            WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'
            {%if config.lastModifiedComparison %} 
            {% for col in source.columns if col.name == last_modified_col -%}
                AND
                  {{ get_source_transform(col) }} > "DIM"."{{last_modified_col}}"

            {% endfor %}  
            {%endif%}
            {% if not config.lastModifiedComparison %}
             {% for col in source.columns if (col.isChangeTracking == true) %}
                {% if loop.first %}
                    AND (
                {% else %}
                    OR
                {% endif %}
                {% if col.dataType == 'GEOGRAPHY' %}
                    (
                        ST_DISTANCE(
                            (CASE
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOGRAPHY('POINT(0 0)')
                                ELSE {{ get_source_transform(col) }}
                            END),
                            (CASE
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)')
                                ELSE "DIM"."{{ col.name }}"
                            END)
                        ) > 0
                    )
                {% elif col.dataType == 'GEOMETRY' %}
                    (
                        ST_DISTANCE(
                            (CASE
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOMETRY('POINT(0 0)')
                                ELSE {{ get_source_transform(col) }}
                            END),
                            (CASE
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)')
                                ELSE "DIM"."{{ col.name }}"
                            END)
                        ) > 0
                    )
                {% else %}
                    (
                        NVL(CAST({{ get_source_transform(col) }} AS STRING), '**NULL**') <> 
                        NVL(CAST("DIM"."{{ col.name }}" AS STRING), '**NULL**')
                    )
                {% endif %}
                
                {% if loop.last %}
                    )
                {% endif %}
             {% endfor %}
            {%endif%}
            {{  get_clause(joinclause)  }}
            {% if config.groupByAll %}
            GROUP BY ALL
            {% endif %}
            {{ sortorder_by_colv() }}
            )
            UNION ALL
            {%if config.lastModifiedComparison %}
                   /* Rows Needing To Be Expired 
                    In this case, only two columns are merged (version and end date) */
            {%else%}
                 /*Rows Needing To Be Expired Due To Type-2 Column Changes
                 In this case, only two columns are merged (version and end date) */
            {%endif%}
            (SELECT
            {% if config.selectDistinct %}
            DISTINCT
            {% endif %}
            {%- for col in source.columns if not col.isSurrogateKey %}
                {% if col.isSystemEndDate %}
                    DATEADD(MILLISECONDS, -1, CAST(CURRENT_TIMESTAMP AS TIMESTAMP))
                {% elif col.isSystemCurrentFlag %}
                    'N'
                {% else %}
                    "DIM"."{{ col.name }}"
                {% endif %}
                AS "{{ col.name }}",
            {% endfor -%}
                'update_expired_version_rows' AS "DML_OPERATION"
            {{  get_clause(joinclause,'from')  }}
            INNER JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
            {% for col in source.columns if col.isBusinessKey -%}
                {% if not loop.first %}
                    AND
                {% endif %}
                {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
            {% endfor %}
            WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'
            {%if config.lastModifiedComparison %} 
            {% for col in source.columns if col.name == last_modified_col -%}
             AND
			{{ get_source_transform(col) }} > "DIM"."{{last_modified_col}}"
            {% endfor %}  
            {%endif%}
            {% if not config.lastModifiedComparison %}
             {% for col in source.columns if (col.isChangeTracking == true) %}
                {% if loop.first %}
                    AND (
                {% else %}
                    OR
                {% endif %}
				
                {% if col.dataType == 'GEOGRAPHY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% elif col.dataType == 'GEOMETRY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% else %}
                    (
                        NVL(CAST({{ get_source_transform(col) }} AS STRING), '**NULL**') <> 
                        NVL(CAST("DIM"."{{ col.name }}" AS STRING), '**NULL**')
                    )
                {% endif %}

                {% if loop.last %}
                    )
                {% endif %}
             {% endfor %}
            {%endif%}
            {{  get_clause(joinclause)  }}
            {% if config.groupByAll %}
            GROUP BY ALL
            {% endif %}
            {{ sortorder_by_colv() }}
            )
            {% if (config.deleteStrategy == "SOFT DELETE"
                    or config.deleteStrategy == "HARD DELETE")
                    and node.isMultisource == false %}
            /* Rows To Be Deleted As They No Longer Exist In Source */
            UNION ALL
                (
                    SELECT
                    {% if config.selectDistinct %}
                        DISTINCT
                    {% endif %}
                    {%- for col in source.columns if not col.isSurrogateKey %}
                        {% if col.isSystemVersion or col.isSystemCreateDate or col.isSystemStartDate %}
                            "DIM"."{{ col.name }}" AS "{{ col.name }}"
                        {% elif col.isSystemCurrentFlag %}
                            '0'
                        {% elif col.isSystemEndDate %}
                            DATEADD(MILLISECONDS, -1, CAST(CURRENT_TIMESTAMP AS TIMESTAMP))
                        {% else %}
                            "DIM"."{{ col.name }}"  AS "{{ col.name }}"
                        {% endif %}   ,               
                    {% endfor -%}

                    {% if config.deleteStrategy == "HARD DELETE" %}
                        /* Hard delete rows */
                        'HARD_DELETE_ROWS' AS "DML_OPERATION"
                    {% else %}
                        /* soft delete rows */
                        'SOFT_DELETE_ROWS' AS "DML_OPERATION"
                    {% endif %}

                    {{  get_clause(joinclause,'from')  }}

                    RIGHT JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
                    {% for col in source.columns if col.isBusinessKey -%}
                        {% if not loop.first %}
                            AND
                        {% endif %}
                            {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                    {% endfor %}

                    WHERE
                    {% for col in source.columns if col.isBusinessKey -%}
                        {% if not loop.first %}
                          AND
                        {% endif%}
                        {% if col.isBusinessKey %}
                            {{ get_source_transform(col) }} IS NULL
                        {% endif %}
                    {% endfor %}

                       {% if config.insertZeroKey %}
                        AND "DIM"."{{ get_value_by_column_attribute("isSurrogateKey") }}" <> {{config.insertZeroKeySurrogateKey}}							 
                        {% endif %}

                        {% if config.deleteStrategy == "SOFT DELETE" %}
                            AND "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" != '0'
                        {% endif %}
                
                    {{ get_clause(joinclause) }}

                    {% if config.groupByAll %}
                        GROUP BY ALL
                    {% endif %}

                    {{ sortorder_by_colv() }}
                )
            {% endif %}
            {% if config.deleteStrategy == "SOFT DELETE" and node.isMultisource == false %}
            /* Reactivate soft-deleted rows that reappear in source */
            UNION ALL
                (
                    SELECT
                    {% if config.selectDistinct %}
                        DISTINCT
                    {% endif %}
                    {%- for col in source.columns if not col.isSurrogateKey %}
                        {% if col.isSystemVersion %}
                            "DIM"."{{ col.name }}"
                        {% elif col.isSystemCurrentFlag %}
                            'Y'
                        {% elif col.isSystemStartDate %}
                            CAST(CURRENT_TIMESTAMP AS TIMESTAMP)
                        {% elif col.isSystemEndDate %}
                            CAST('2999-12-31 00:00:00' AS TIMESTAMP)
                        {% elif col.isSystemUpdateDate %}
                            CAST(CURRENT_TIMESTAMP AS TIMESTAMP)
                        {% else %}
                            {{ get_source_transform(col) }}
                        {% endif %}
                        AS "{{ col.name }}",
                    {% endfor -%}
                        'REACTIVATE_SOFT_DELETED_ROWS' AS "DML_OPERATION"

                    {{  get_clause(joinclause,'from')  }}

                    INNER JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
                    {% for col in source.columns if col.isBusinessKey -%}
                        {% if not loop.first %}
                            AND
                        {% endif %}
                            {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                    {% endfor %}

                    WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = '0'

                    QUALIFY ROW_NUMBER() OVER (
                        PARTITION BY {% for col in source.columns if col.isBusinessKey %}
                            {{ get_source_transform(col) }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        ORDER BY "DIM"."{{ get_value_by_column_attribute("isSystemUpdateDate") }}" DESC
                    ) = 1

                    {{ get_clause(joinclause) }}

                    {% if config.groupByAll %}
                        GROUP BY ALL
                    {% endif %}

                    {{ sortorder_by_colv() }}
                )
            {% endif %}
            {# The if-block below avoids unnecessary updates when no type 2 column changes are present #}
            {% if source.columns 
                | rejectattr('isSurrogateKey')
                | rejectattr('isBusinessKey')
                | rejectattr('isChangeTracking')
                | rejectattr('isSystemVersion')
                | rejectattr('isSystemCurrentFlag')
                | rejectattr('isSystemStartDate')
                | rejectattr('isSystemEndDate')
                | rejectattr('isSystemCreateDate')
                | rejectattr('isSystemUpdateDate') 
                | list | length == 0 
            %}
                {# Skip Section #}
            {% else %}
             {%if not config.lastModifiedComparison %}
              UNION ALL
              /* Rows Needing To Be Updated Due To Changes To Non-Type-2 columns
              This case merges only when there are changes in non-type-2 column updates, but no changes in type-2 columns*/

              (SELECT
              {% if config.selectDistinct %}
              DISTINCT
              {% endif %}
              {%- for col in source.columns if not col.isSurrogateKey %}
                  {% if col.isSystemVersion or col.isSystemCreateDate or col.isSystemStartDate or col.isSystemEndDate %}
                      "DIM"."{{ col.name }}"
                  {% elif col.isSystemCurrentFlag %}
                      'Y'
                  {% else %}
                      {{ get_source_transform(col) }}
                  {% endif %}
                  AS "{{ col.name }}",
              {% endfor -%}
                  'UPDATE_NON_TYPE2_ROWS' AS "DML_OPERATION"
              {{  get_clause(joinclause,'from')  }}
              INNER JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
              {% for col in source.columns if col.isBusinessKey -%}
                  {% if not loop.first %}
                      AND
                  {% endif %}
                  {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
              {% endfor %}
              WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'
              AND (
              {% for col in source.columns if (col.isChangeTracking) -%}
                  {% if not loop.first %}
                      AND
                  {% endif %}
               {% if col.dataType == 'GEOGRAPHY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) = 0
                    )
                {% elif col.dataType == 'GEOMETRY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) = 0
                    )
                  {%else%}                      
                  {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                  {%endif%}
              {% endfor %} )
              
              {% for col in source.columns if not (   col.isBusinessKey or
                                                      col.isChangeTracking or
                                                      col.isSurrogateKey or
                                                      col.isSystemVersion or
                                                      col.isSystemCurrentFlag or
                                                      col.isSystemStartDate or
                                                      col.isSystemEndDate or
                                                      col.isSystemUpdateDate or
                                                      col.isSystemCreateDate) -%}
                  {% if loop.first %}
                      AND (
                  {% endif %}
                  {% if not loop.first %}
                      OR
                  {% endif %}
               {% if col.dataType == 'GEOGRAPHY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% elif col.dataType == 'GEOMETRY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% else %}
                        (
                            NVL(CAST({{ get_source_transform(col) }} AS STRING), '**NULL**') <> 
                            NVL(CAST("DIM"."{{ col.name }}" AS STRING), '**NULL**')
                        )
                    {% endif %}

                    {% if loop.last %}
                        )
                    {% endif %}
                {% endfor %}
            
            {{  get_clause(joinclause)  }}
            {% if config.groupByAll%}
                GROUP BY ALL
            {% endif %}
            {{ sortorder_by_colv() }}) 
            {% endif %}
            {%endif%}
            {% if config.insertStrategy in ['UNION', 'UNION ALL'] and not loop.last %}
                {{config.insertStrategy}}
            {% endif %} 
                      
        {% endfor %}  
                         
        ) AS "SRC"
        ON
        {% for col in columns if col.isBusinessKey -%}
            {% if not loop.first %}
                AND
            {% endif %}
            "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
        {% endfor %}
        AND "TGT"."{{ get_value_by_column_attribute("isSystemVersion") }}" = "SRC"."{{ get_value_by_column_attribute("isSystemVersion") }}"
		{% if config.deleteStrategy == "HARD DELETE" %}
		    WHEN MATCHED AND SRC.DML_OPERATION = 'HARD_DELETE_ROWS'
            THEN DELETE
		{% endif %}
        {% if config.deleteStrategy == "SOFT DELETE" %}
        /* Reactivate soft-deleted record that reappeared in source */
        WHEN MATCHED
        AND "SRC"."DML_OPERATION" = 'REACTIVATE_SOFT_DELETED_ROWS'
        AND "TGT"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = '0'
        THEN UPDATE SET
        {%- for col in columns if not (col.isBusinessKey or col.isSurrogateKey or col.isSystemCreateDate) %}
            {% if not loop.first %},{% endif %}
            {% if col.isSystemVersion %}
                "TGT"."{{ col.name }}" = "TGT"."{{ col.name }}" + 1
            {% elif col.isSystemCurrentFlag %}
                "TGT"."{{ col.name }}" = 'Y'
            {% elif col.isSystemStartDate %}
                "TGT"."{{ col.name }}" = CAST(CURRENT_TIMESTAMP AS TIMESTAMP)
            {% elif col.isSystemEndDate %}
                "TGT"."{{ col.name }}" = CAST('2999-12-31 00:00:00' AS TIMESTAMP)
            {% elif col.isSystemUpdateDate %}
                "TGT"."{{ col.name }}" = CAST(CURRENT_TIMESTAMP AS TIMESTAMP)
            {% else %}
                "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
            {% endif %}
        {%- endfor %}
        {% endif %}
        {%if config.deleteStrategy == "SOFT DELETE" and config.lastModifiedComparison %}
            WHEN MATCHED AND (SRC.DML_OPERATION = 'SOFT_DELETE_ROWS' OR SRC.DML_OPERATION = 'update_expired_version_rows' ) 
            THEN UPDATE SET 
            {% for col in columns if (col.isSystemCurrentFlag
                                                or col.isSystemEndDate) %}
                            {% if not loop.first %} , {% endif %}
                        "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
            {% endfor %}
        {%elif config.lastModifiedComparison%}
            WHEN MATCHED AND SRC.DML_OPERATION = 'update_expired_version_rows'  
            THEN UPDATE SET 
            {% for col in columns if (col.isSystemCurrentFlag
                                                or col.isSystemEndDate) %}
                            {% if not loop.first %} , {% endif %}
                        "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
            {% endfor %}
        {%endif%}
        {%if not config.lastModifiedComparison%}
         WHEN MATCHED THEN UPDATE SET
         {%- for col in columns if not (col.isBusinessKey or col.isSurrogateKey or col.isSystemCreateDate) %}
            "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
            {% if not loop.last %}, {% endif %}
         {% endfor -%}
        {%endif%}
        WHEN NOT MATCHED THEN INSERT (
        {%- for col in columns if not col.isSurrogateKey %}
            "{{ col.name }}"
            {% if not loop.last %}, {% endif %}
        {% endfor -%}
        )
        VALUES (
        {%- for col in columns if not col.isSurrogateKey %}
            "SRC"."{{ col.name }}"
            {% if not loop.last %}, {% endif %}
        {% endfor -%}
        )
    {% else %}
{{ stage('INSERT/UPDATE ' + ' Sources' | string) }}		
BEGIN
-- =====================================
-- Common Subquery 
-- =====================================
 EXECUTE IMMEDIATE $$
-- Step 1: Create a temporary table to hold SRC data
CREATE OR REPLACE TEMP TABLE {{ ref_no_link(node.location.name,"SRC_STAGE") }}  AS
 (
        {% for source in sources %}

           {% set joinclause = source.join %}

            /* New Rows That Don't Exist */
            (SELECT
            {% if config.selectDistinct %}
            DISTINCT
            {% endif %}
            {% for col in source.columns if not col.isSurrogateKey %}
                {% if col.isSystemVersion %}
                    1
                {% elif col.isSystemCurrentFlag %}
                    'Y'
                {% else %}
                   {{ get_source_transform(col) }}
                {% endif %}
                AS "{{ col.name }}",
            {% endfor %}
                'INSERT_INITAL_VERSION_ROWS' AS "DML_OPERATION"
            {{  get_clause(joinclause,'from')  }}
            LEFT JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
            {% for col in source.columns if col.isBusinessKey -%}
                {% if not loop.first %}
                    AND
                {% endif %}
                    {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
            {% endfor %}
            WHERE
            {% for col in source.columns if col.isBusinessKey -%}
                {% if not loop.first %}
                    AND
                {% endif %}
                "DIM"."{{ col.name }}" IS NULL
            {% endfor %}
            {{ get_clause(joinclause) }}
            {% if config.groupByAll %}
            GROUP BY ALL
            {% endif %}
            {{ sortorder_by_colv() }}
            )

            UNION ALL
            /* New Row Needing To Be Inserted Due To Type-2 Column Changes */

            (SELECT
            {% if config.selectDistinct %}
            DISTINCT
            {% endif %}
            {% for col in source.columns if not col.isSurrogateKey %}
                {% if col.isSystemVersion %}
                    "DIM"."{{ col.name }}" + 1
                {% elif col.isSystemCurrentFlag %}
                    'Y'
                {% else %}
                   {{ get_source_transform(col) }}
                {% endif %}
                AS "{{ col.name }}",
            {% endfor %}
                'INSERT_NEW_VERSION_ROWS' AS "DML_OPERATION"
            {{  get_clause(joinclause,'from')  }}
            INNER JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
            {% for col in source.columns if col.isBusinessKey -%}
                {% if not loop.first %}
                    AND
                {% endif %}
                {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
            {% endfor %}
            WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'
            {% for col in source.columns if (col.isChangeTracking == true) %}
                {% if loop.first %}
                    AND (
                {% else %}
                    OR
                {% endif %}
               {% if col.dataType == 'GEOGRAPHY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% elif col.dataType == 'GEOMETRY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% else %}
                        (
                            NVL(CAST({{ get_source_transform(col) }} AS STRING), '**NULL**') <> 
                            NVL(CAST("DIM"."{{ col.name }}" AS STRING), '**NULL**')
                        )
                    {% endif %}

                    {% if loop.last %}
                        )
                    {% endif %}
                {% endfor %}
            {{  get_clause(joinclause)  }}
            {% if config.groupByAll %}
            GROUP BY ALL
            {% endif %}
            {{ sortorder_by_colv() }}
            )
            UNION ALL
            /* Rows Needing To Be Expired Due To Type-2 Column Changes */
            
            (SELECT
            {% if config.selectDistinct %}
            DISTINCT
            {% endif %}
            {%- for col in source.columns if not col.isSurrogateKey %}
                {% if col.isSystemEndDate %}
                    DATEADD(MILLISECONDS, -1, CAST(CURRENT_TIMESTAMP AS TIMESTAMP))
                {% elif col.isSystemCurrentFlag %}
                    'N'
                {% else %}
                    "DIM"."{{ col.name }}"
                {% endif %}
                AS "{{ col.name }}",
            {% endfor -%}
                'update_expired_version_rows' AS "DML_OPERATION"
            {{  get_clause(joinclause,'from')  }}
            INNER JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
            {% for col in source.columns if col.isBusinessKey -%}
                {% if not loop.first %}
                    AND
                {% endif %}
                {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
            {% endfor %}
            WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'
            {% for col in source.columns if (col.isChangeTracking == true) %}
                {% if loop.first %}
                    AND (
                {% else %}
                    OR
                {% endif %}
               {% if col.dataType == 'GEOGRAPHY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% elif col.dataType == 'GEOMETRY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% else %}
                        (
                            NVL(CAST({{ get_source_transform(col) }} AS STRING), '**NULL**') <> 
                            NVL(CAST("DIM"."{{ col.name }}" AS STRING), '**NULL**')
                        )
                    {% endif %}

                    {% if loop.last %}
                        )
                    {% endif %}
                {% endfor %}
            {{  get_clause(joinclause)  }}
            {% if config.groupByAll %}
            GROUP BY ALL
            {% endif %}
            {{ sortorder_by_colv() }}
            )
            {% if source.columns 
                | rejectattr('isSurrogateKey')
                | rejectattr('isBusinessKey')
                | rejectattr('isChangeTracking')
                | rejectattr('isSystemVersion')
                | rejectattr('isSystemCurrentFlag')
                | rejectattr('isSystemStartDate')
                | rejectattr('isSystemEndDate')
                | rejectattr('isSystemCreateDate')
                | rejectattr('isSystemUpdateDate') 
                | list | length != 0 
            %}
              UNION ALL
              /* Rows Needing To Be Updated Due To Non-Type-2 Column Changes */

              (SELECT
              {% if config.selectDistinct %}
              DISTINCT
              {% endif %}
              {%- for col in source.columns if not col.isSurrogateKey %}
                  {% if col.isSystemVersion or col.isSystemCreateDate or col.isSystemStartDate or col.isSystemEndDate %}
                      "DIM"."{{ col.name }}"
                  {% elif col.isSystemCurrentFlag %}
                      'Y'
                  {% else %}
                      {{ get_source_transform(col) }}
                  {% endif %}
                  AS "{{ col.name }}",
              {% endfor -%}
                  'UPDATE_NON_TYPE2_ROWS' AS "DML_OPERATION"
              {{  get_clause(joinclause,'from')  }}
              INNER JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
              {% for col in source.columns if col.isBusinessKey -%}
                  {% if not loop.first %}
                      AND
                  {% endif %}
                  {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
              {% endfor %}
              WHERE "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = 'Y'
              AND (
              {% for col in source.columns if (col.isChangeTracking) -%}
                  {% if not loop.first %}
                      AND
                  {% endif %}
               {% if col.dataType == 'GEOGRAPHY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) = 0
                    )
                {% elif col.dataType == 'GEOMETRY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) = 0
                    )
                  {%else%}                      
                  {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                  {%endif%}
              {% endfor %})
              
              {% for col in source.columns if not (   col.isBusinessKey or
                                                      col.isChangeTracking or
                                                      col.isSurrogateKey or
                                                      col.isSystemVersion or
                                                      col.isSystemCurrentFlag or
                                                      col.isSystemStartDate or
                                                      col.isSystemEndDate or
                                                      col.isSystemUpdateDate or
                                                      col.isSystemCreateDate) -%}
                  {% if loop.first %}
                      AND (
                  {% endif %}
                  {% if not loop.first %}
                      OR
                  {% endif %}
               {% if col.dataType == 'GEOGRAPHY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% elif col.dataType == 'GEOMETRY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN {{ get_source_transform(col) }} IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE {{ get_source_transform(col) }} 
                            END),
                            (CASE 
                                WHEN "DIM"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                ELSE "DIM"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% else %}
                        (
                            NVL(CAST({{ get_source_transform(col) }} AS STRING), '**NULL**') <> 
                            NVL(CAST("DIM"."{{ col.name }}" AS STRING), '**NULL**')
                        )
                    {% endif %}

                    {% if loop.last %}
                        )
                    {% endif %}
                {% endfor %}
            
            {{  get_clause(joinclause)  }}
            {% if config.groupByAll %}
                GROUP BY ALL
            {% endif %}
            {{ sortorder_by_colv() }}) 
            {% endif %}
            {% if config.insertStrategy in ['UNION', 'UNION ALL'] and not loop.last %}
                {{config.insertStrategy}}
            {% endif %} 
        {% endfor %}  
);
$$;
{# SCD-Type 2 Dimension update== #}
		 BEGIN TRANSACTION;
		  EXECUTE IMMEDIATE $$
-- =====================================
-- UPDATE Statement
-- =====================================
UPDATE {{ ref_no_link(node.location.name, node.name) }} AS TGT
SET
{%- for col in columns if not (col.isBusinessKey or col.isSurrogateKey or col.isSystemCreateDate) %}
    "{{ col.name }}" = SRC."{{ col.name }}"
    {% if not loop.last %}, {% endif %}
{%- endfor %}
FROM {{ ref_no_link(node.location.name,"SRC_STAGE") }} 	SRC
WHERE
    SRC."DML_OPERATION" IN ('update_expired_version_rows', 'UPDATE_NON_TYPE2_ROWS')
    AND
    {%- for col in columns if col.isBusinessKey %}
        TGT."{{ col.name }}" = SRC."{{ col.name }}"
        {% if not loop.last %} AND {% endif %}
    {%- endfor %}
    AND TGT."{{ get_value_by_column_attribute("isSystemVersion") }}" = SRC."{{ get_value_by_column_attribute("isSystemVersion") }}"
;
$$;
{# SCD-Type 2 Dimension insert == #}
 EXECUTE IMMEDIATE $$
-- =====================================
-- INSERT Statement
-- =====================================
INSERT INTO {{ ref_no_link(node.location.name, node.name) }} (
    {%- for col in columns if not col.isSurrogateKey %}
        "{{ col.name }}"
        {% if not loop.last %}, {% endif %}
    {%- endfor %}
)
SELECT
    {%- for col in columns if not col.isSurrogateKey %}
        SRC."{{ col.name }}"
        {% if not loop.last %}, {% endif %}
    {%- endfor %}
FROM {{ ref_no_link(node.location.name,"SRC_STAGE") }}   SRC
WHERE SRC."DML_OPERATION" IN ('INSERT_INITAL_VERSION_ROWS', 'INSERT_NEW_VERSION_ROWS')
;
$$;
COMMIT;
END
 {% endif %}

    {% else %}
        
    {# SCD-Type 1 Dimension == #}
       {%- if varUpdateStrategy == 'MERGE' -%}

            {# Create a list of column names to exclude from the merge update, if the feature is enabled #}
            {% if config.excludeMergeToggle and config.lastModifiedCompToggle == false %}
                {%- set excludeColList = config.excludeMergeList.get('items', [])
                                        | map(attribute='excludeColName.name')
                                        | list %}
                {%- set includeColList = columns | rejectattr('name', 'in', excludeColList) | list %}
            {% else %}
                {%- set includeColList = columns | list %}
            {% endif %}

            {{ stage('MERGE ' + ' Sources' | string) }}
            
            MERGE INTO {{ ref_no_link(node.location.name, node.name) }} "TGT"
            USING ( 
            
            {% for source in sources %}
                {%set joinclause = source.join %}
                 ( SELECT
                    {% if config.selectDistinct %}
                      DISTINCT
                    {% endif %}
                  {% for col in source.columns if not col.isSurrogateKey %}
                     {% if col.isSystemVersion %}
                    	1
                      {% elif col.isSystemCurrentFlag %}
                    	'Y'	    
                      {% elif col.name == last_modified_col %}
					     {{ get_source_transform(col) }} AS "{{ col.name }}",
						 {{ get_source_transform(col) }} AS COMPARISON_VALUE,
					     MAX ("DIM"."{{last_modified_col}}") AS MAX_TARGET_VALUE
					  {% else %}
                        {{ get_source_transform(col) }}
                      {% endif %}
                      {%if col.name != last_modified_col %}  AS "{{ col.name }}"{%endif%}
                      {%- if not loop.last %}, {% endif %}
                  {% endfor %}
                   {{ get_clause(joinclause,'from')}}
                  {%if config.lastModifiedComparison%}
                   LEFT JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
                   {% for col in source.columns if col.isBusinessKey -%}
                                {% if not loop.first %}
                                    AND
                                {% endif %}
                                {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                            {% endfor %}
                  {%endif%}
                   {% set clause = get_clause(joinclause) %}
                   {% if clause %}
                      {{ ("WHERE " ~ clause.strip()[3:].strip()) if clause.strip().upper().startswith('AND') else clause }}
                   {% endif %}
                   {% if config.groupByAll or config.lastModifiedComparison %}
                     GROUP BY ALL
                    {% endif %}
                   {{ sortorder_by_colv() }} )
                {% if (config.deleteStrategy == "SOFT DELETE"
                        or config.deleteStrategy == "HARD DELETE")
                        and node.isMultisource == false %}
                    /* Rows To Be Deleted As They No Longer Exist In Source */
                    UNION ALL
                        (
                            SELECT
                            {% if config.selectDistinct %}
                                DISTINCT
                            {% endif %}
                            {%- for col in source.columns if not col.isSurrogateKey %}
                                {% if col.isSystemCurrentFlag %}
                                    '0'
                                {% elif col.isSystemEndDate %}
                                    DATEADD(MILLISECONDS, -1, CAST(CURRENT_TIMESTAMP AS TIMESTAMP))
                                {% elif col.name == last_modified_col %}
                                    {{ get_source_transform(col) }} AS "{{ col.name }}",
                                    {{ get_source_transform(col) }} AS COMPARISON_VALUE,
                                    MAX("DIM"."{{last_modified_col}}") AS MAX_TARGET_VALUE
                                {% else %}
                                    "DIM"."{{ col.name }}"	AS "{{ col.name }}"
                                {% endif %}
                                {%- if not loop.last %}, {% endif %}
                            {% endfor -%}
                   {{ get_clause(joinclause,'from') }}
                  RIGHT JOIN {{ ref_no_link(node.location.name, node.name) }} "DIM" ON
                            {% for col in source.columns if col.isBusinessKey -%}
                                {% if not loop.first %}
                                    AND
                                {% endif %}
                                {{ get_source_transform(col) }} = "DIM"."{{ col.name }}"
                            {% endfor %}
                            WHERE
                            {% for col in source.columns if col.isBusinessKey -%}
                                {% if not loop.first %}
                                    AND
                                {% endif%}
                                {% if col.isBusinessKey %}
                                    {{ get_source_transform(col) }} IS NULL
                                {% endif %}
                            {% endfor %} 
                            {% if config.insertZeroKey %}
                              AND "DIM"."{{ get_value_by_column_attribute("isSurrogateKey") }}" <> {{config.insertZeroKeySurrogateKey}}																	   										 
                            {% endif %}
                            {% if config.deleteStrategy == "SOFT DELETE" %}
                                    AND "DIM"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" != '0'
                            {% endif %}     
                             {{ get_clause(joinclause) }}   
                 {% if config.groupByAll or config.lastModifiedComparison %}
                     GROUP BY ALL
                    {% endif %}
                   {{ sortorder_by_colv() }}
                        )
                    {% endif %} 
                 {% if config.insertStrategy in ['UNION', 'UNION ALL'] and not loop.last %}
                     {{config.insertStrategy}}
                {% endif %}
        {% endfor %}
                 )            
                AS "SRC"
            ON
            {% for col in columns if col.isBusinessKey -%}
                {% if not loop.first %}
                    AND
                {% endif %}
                "SRC"."{{ col.name }}" = "TGT"."{{ col.name }}"
            {% endfor %}

            {% if (config.deleteStrategy == "SOFT DELETE"
                    or config.deleteStrategy == "HARD DELETE")
                    and node.isMultisource == false %}

                WHEN MATCHED AND "SRC"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = '0'
                {% if config.deleteStrategy == "HARD DELETE" %}
                    /* Hard delete rows */
                    THEN DELETE
                {% else %}
                    /* Soft delete rows */
                    THEN UPDATE SET
                    {% for col in columns if (col.isSystemCurrentFlag
                                                or col.isSystemEndDate) %}
                            {% if not loop.first %} , {% endif %}
                        "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if config.deleteStrategy == "SOFT DELETE" and node.isMultisource == false %}
            /* Reactivate soft-deleted record that reappeared in source (Type 1) */
            WHEN MATCHED
            AND "TGT"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" = '0'
            AND "SRC"."{{ get_value_by_column_attribute("isSystemCurrentFlag") }}" != '0'
            THEN UPDATE SET
            {%- for col in columns if not (col.isBusinessKey or col.isSurrogateKey or col.isSystemCreateDate) %}
                    "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
                {% if not loop.last %}, {% endif %}
            {% endfor -%}
            {% endif %}

            WHEN MATCHED
             {%if not config.lastModifiedComparison%}
                {% for col in includeColList if not (   col.isBusinessKey or
                                                        col.isSurrogateKey or
                                                        col.isSystemVersion or
                                                        col.isSystemCurrentFlag or
                                                        col.isSystemStartDate or
                                                        col.isSystemEndDate or
                                                        col.isSystemUpdateDate or
                                                        col.isSystemCreateDate) %}
                    {% if loop.first %}
                        AND (
                        {% else %}
                            OR
                        {% endif %}

                    {% if col.dataType == 'GEOGRAPHY' %}
                        (
                            ST_DISTANCE(
                                (CASE 
                                    WHEN "SRC"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                    ELSE "SRC"."{{ col.name }}" 
                                END),
                                (CASE 
                                    WHEN "TGT"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                    ELSE "TGT"."{{ col.name }}" 
                                END)
                            ) > 0
                        )
                    {% elif col.dataType == 'GEOMETRY' %}
                        (
                            ST_DISTANCE(
                                
                                    (CASE 
                                        WHEN "SRC"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                        ELSE "SRC"."{{ col.name }}" 
                                    END),
                                    (CASE 
                                        WHEN "TGT"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
                                        ELSE "TGT"."{{ col.name }}" 
                                END)
                            ) > 0
                        )
                    {% else %}
                            (
                            
                                NVL(CAST("SRC"."{{ col.name }}" AS STRING), '**NULL**') <> 
                                NVL(CAST("TGT"."{{ col.name }}" AS STRING), '**NULL**')
                            )
                    {% endif %}

                    {% if loop.last %}
                        )
                    {% endif %}
                {% endfor %}
             {%else%}  
                    AND ("SRC".COMPARISON_VALUE > "SRC".MAX_TARGET_VALUE) 
             {%endif%}     
            THEN UPDATE SET
            {%- for col in includeColList if not (  col.isBusinessKey or
                                                    col.isSurrogateKey or
                                                    col.isSystemVersion or
                                                    col.isSystemCurrentFlag or
                                                    col.isSystemStartDate or
                                                    col.isSystemCreateDate) %}
                    "TGT"."{{ col.name }}" = "SRC"."{{ col.name }}"
                {% if not loop.last %}, {% endif %}
            {% endfor %}
            WHEN NOT MATCHED THEN
            INSERT (
            {%- for col in columns if not col.isSurrogateKey %}
                "{{ col.name }}"
                {% if not loop.last %}, {% endif %}
            {% endfor -%}
            )
            VALUES (
            {%- for col in columns if not col.isSurrogateKey %}
                "SRC"."{{ col.name }}"
                {% if not loop.last %}, {% endif %}
            {% endfor -%}
            )
		{% else %}
		 {{ stage('INSERT/UPDATE ' + ' Sources' | string) }}
BEGIN

-- Step 1: UPDATE existing rows
UPDATE {{ ref_no_link(node.location.name, node.name) }} 
SET
{%- for col in columns if not (  col.isBusinessKey or
                                col.isSurrogateKey or
                                col.isSystemVersion or
                                col.isSystemCurrentFlag or
                                col.isSystemStartDate or
                                col.isSystemEndDate or
                                col.isSystemCreateDate) %}
    "{{ col.name }}" = SRC."{{ col.name }}"
    {% if not loop.last %}, {% endif %}
{%- endfor %}
FROM (
    {% for source in sources %}
       ( SELECT
        {% if config.selectDistinct %}
        DISTINCT
        {% endif %}
        {% for col in source.columns if not col.isSurrogateKey %}
            {% if col.isSystemVersion %}
            	1
            {% elif col.isSystemCurrentFlag %}
            	'Y'
            {% else %}
                {{ get_source_transform(col) }}
            {% endif %}
            AS "{{ col.name }}"
            {%- if not loop.last %}, {% endif %}
        {% endfor %}
        {{ source.join }}
         {% if config.groupByAll %}
         GROUP BY ALL
         {% endif %}
         {{ sortorder_by_colv() }} )     
         {% if config.insertStrategy in ['UNION', 'UNION ALL'] and not loop.last %}
             {{config.insertStrategy}}
        {% endif %}
    {% endfor %}
) SRC
JOIN {{ ref_no_link(node.location.name, node.name) }}  TGT
    ON
    {%- for col in columns if col.isBusinessKey %}
        {% if not loop.first %} AND {% endif %}
        SRC."{{ col.name }}" = TGT."{{ col.name }}"
    {%- endfor %}

{%- for col in columns if not (   col.isBusinessKey or
                                  col.isSurrogateKey or
                                  col.isSystemVersion or
                                  col.isSystemCurrentFlag or
                                  col.isSystemStartDate or
                                  col.isSystemEndDate or
                                  col.isSystemUpdateDate or
                                  col.isSystemCreateDate) %}
    {% if loop.first %}
    WHERE (
    {% else %}
    OR
    {% endif %}
               {% if col.dataType == 'GEOGRAPHY' %}
                    (
                        ST_DISTANCE(
                            (CASE 
                                WHEN "SRC"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE "SRC"."{{ col.name }}" 
                            END),
                            (CASE 
                                WHEN "TGT"."{{ col.name }}" IS NULL THEN TO_GEOGRAPHY('POINT(0 0)') 
                                ELSE "TGT"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% elif col.dataType == 'GEOMETRY' %}
                    (
                        ST_DISTANCE(
							
								(CASE 
									WHEN "SRC"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
									ELSE "SRC"."{{ col.name }}" 
								END),
								(CASE 
									WHEN "TGT"."{{ col.name }}" IS NULL THEN TO_GEOMETRY('POINT(0 0)') 
									ELSE "TGT"."{{ col.name }}" 
                            END)
                        ) > 0
                    )
                {% else %}
                        (
						   
                            NVL(CAST("SRC"."{{ col.name }}" AS STRING), '**NULL**') <> 
                            NVL(CAST("TGT"."{{ col.name }}" AS STRING), '**NULL**')
                        )
                    {% endif %}

                    {% if loop.last %}
                        )
                    {% endif %}
                {% endfor %};

-- Step 2: INSERT new rows
INSERT INTO {{ ref_no_link(node.location.name, node.name) }}  (
{%- for col in columns if not col.isSurrogateKey %}
    "{{ col.name }}"
    {% if not loop.last %}, {% endif %}
{%- endfor %}
)
SELECT
{%- for col in columns if not col.isSurrogateKey %}
    SRC."{{ col.name }}"
    {% if not loop.last %}, {% endif %}
{%- endfor %}
FROM (
    {% for source in sources %}
       ( SELECT
        {% if config.selectDistinct %}
        DISTINCT
        {% endif %}
        {% for col in source.columns if not col.isSurrogateKey %}
            {% if col.isSystemVersion %}
            	1
            {% elif col.isSystemCurrentFlag %}
            	'Y'
            {% else %}
                {{ get_source_transform(col) }}
            {% endif %}
            AS "{{ col.name }}"
            {%- if not loop.last %}, {% endif %}
        {% endfor %}
        {{ source.join }}
         {% if config.groupByAll %}
         GROUP BY ALL
         {% endif %}
         {{ sortorder_by_colv() }} )     
         {% if config.insertStrategy in ['UNION', 'UNION ALL'] and not loop.last %}
             {{config.insertStrategy}}
        {% endif %}
    {% endfor %}
) SRC
LEFT JOIN {{ ref_no_link(node.location.name, node.name) }}  TGT
    ON
    {%- for col in columns if col.isBusinessKey %}
        {% if not loop.first %} AND {% endif %}
        SRC."{{ col.name }}" = TGT."{{ col.name }}"
    {%- endfor %}
WHERE
    {%- for col in columns if col.isBusinessKey %}
        {% if not loop.first %} AND {% endif %}
        TGT."{{ col.name }}" IS NULL
    {%- endfor %};

END;

		{% endif %}
    {% endif %}

{# == Queries to be excuted post data insertion  == #}

	{% if config.postSQL %}			
		{{ stage('Post-SQL') }}
		{{ config.postSQL }}
	{% endif %}
{% else %}
	{{ stage('Load Skipped for View') }}
	-- The node {{node.name}} is materialized as View. Therefore, a Load operation is not supported.
	SELECT 1 AS INFO_MESSAGE WHERE FALSE
{% endif %}

{# == To run data quality tests after data insertion == #}

{% if config.testsEnabled %}
	{% for test in node.tests %}
		{% if test.runOrder == 'After' %}
			{{ test_stage(test.name, test.continueOnFailure) }}
			{{ test.templateString }}
        {% endif %}
	{% endfor %}

	{% for column in columns %}
		{% for test in column.tests %}
			{{ test_stage(column.name + ": " + test.name) }}
			{{ test.templateString }}
		{% endfor %}
	{% endfor %}
{% endif %}